.image_storer{
    height:230px;
    width:230px;
    border-radius:100%;
    background-image:url("./images/Unknown_person.jpg");
    background-size: cover;
}
.user_image{
    height:230px;
    width:230px;
    border-radius:100%;
    background-size: cover;

}

#info_page{
    height:100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

#formFile{
    width:400px;
}