.image_storer{
    height:230px;
    width:230px;
    border-radius:100%;
    background-image:url("./images/Unknown_person.jpg");
    background-size: cover;
}
.user_image{
    height:230px;
    width:230px;
    border-radius:100%;
    background-size: cover;

}

#info_page{
    height:100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

#formFile{
    width:400px;
}

.image_upload{
    margin-bottom:50px;
}


@media (max-width: 480px) {
    #info_page h1 {
        font-size: 1.1rem;
    }

    #info_page h3 {
        font-size: 1rem;
    }

    #formFile{
          width:350px;
    }
}